
<!-- <div class="wrapper wrapper-content animated fadeInRight" ng-controller="tController"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-12 form-box"> -->
<!-- <form  role="form" class="mortuary-form" action="javascript:void(0);"> -->
<!-- <fieldset> -->
<!-- <div class="form-top"> -->
<!-- <div class="form-top-left"> -->
<!-- <h4><span></span>TRANSACTION MODULE</h4> -->

<!-- </div> -->
<!-- </div> -->
<!-- <div class="form-bottom"> -->
<!-- <div class="row hidden-print"> -->
<!-- <ul class="nav nav-tabs nav-justified" > -->
<!-- <li ng-class="{active: isSet(1) }"> -->
<!-- <a href ng-click="setTab(1)"><span>T RECORD - PLEASE SELECT TYPE OF TRANSACTION YOU WANT TO STORE/SAVE</span></a></li> -->
<!-- </ul> -->
<!-- <br> -->
<!-- <br> -->
<!-- </div> -->
<!-- <div class="row"> -->

<!-- <div ng-show="isSet(1)"> -->
<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Chagua kwa Makini Kampuni ya Muamala:</label> -->
	<!-- <select ng-model="transaction.tcompany.id" class="form-control" data-toggle="tooltip" title="Select Equipment Status"> -->
	<!-- <option disabled selected value>Select Transaction Company</option> -->
	<!-- <option ng-value="tcompany.id" ng-repeat="tcompany in tcompanies">{{tcompany.company_name}}</option> -->
	<!-- </select> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Chagua kwa Makini Aina ya Muamala:</label> -->
<!-- <select name="transactiontype" class="form-control" ng-model="transaction.transactiontype"> -->
  <!-- <option value="">Select Carefully Transaction Type</option> -->
  <!-- <option value="1">Kutoa Fedha</option> -->
  <!-- <option value="2">Kuweka Fedha</option> -->
<!-- </select> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
 <!-- <label>Weka Number Ya Simu:</label> -->
 <!-- <input type="text" ng-model="transaction.mobile" class="form-control" placeholder="Enter Mobile Number" id="fname"> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
 <!-- <label>Weka Kumbukumbu No:</label> -->
 <!-- <input type="text" ng-model="transaction.number" class="form-control" placeholder="Enter Transaction Number Carefully:" id="fname"> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
 <!-- <label>Weka Kiasi cha Fedha:</label> -->
 <!-- <input type="text" ng-model="transaction.amount" class="form-control" placeholder="Enter Amount Carefully" id="fname"> -->
<!-- </div> -->

<!-- <br> -->
<!-- <button type="submit" class="btn btn-success" ng-click="save_transaction(transaction)">SAVE</button> -->
<!-- <hr> -->
<!-- </div> -->
<!-- </fieldset> -->
<!-- </form> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <div class="wrapper wrapper-content animated fadeInRight" ng-controller="tController"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-12 form-box"> -->
<!-- <form  role="form" class="mortuary-form" action="javascript:void(0);"> -->
<!-- <fieldset> -->
<!-- <div class="form-top"> -->
<!-- <div class="form-top-left"> -->
<!-- <h4><span></span>YOUR CURRENT TRANSACTION BALANCE</h4> -->

<!-- </div> -->
<!-- </div> -->

<!-- <div class="row"> -->
<!-- <br> -->
<!-- <div ng-show="isSet(1)"> -->
<!-- <table style="width:95%" align="center" border="2"> -->
  <!-- <tr> -->
    <!-- <th><p align="center">COMPANY NAME</p></th> -->
    <!-- <th><p align="center">TODAY INITIAL FLOAT</p></th> -->
    <!-- <th><p align="center">TODAY CURRENT FLOAT</p></th>  -->
    <!-- <th><p align="center">TRANSACTION CATEGORY</p></th>  -->
    <!-- <th><p align="center">TRANSACTION AMOUNT</p></th>  -->
    <!-- <th><p align="center">TRANSACTION RECEIPT NO:</p></th>  -->
    <!-- <th><p align="center">TRANSACTION DATE & TIME</p></th>  -->
    <!-- <th><p align="center">TRANSACTION PERSONNEL</p></th>  -->
  <!-- </tr> -->
  <!-- <tr ng-repeat="transactionbalances in transactionbalancesuse | filter:search track by $index"> -->
    <!-- <td align="center">{{transactionbalances.company_name}}</td> -->
    <!-- <td align="center">{{transactionbalances.amount}} </td> -->
    <!-- <td align="center">{{transactionbalances.remain_amount}} </td> -->
    <!-- <td align="center">{{transactionbalances.amount}} </td> -->
  <!-- </tr> -->
<!-- </table> -->
<!-- </div> -->
<!-- </fieldset> -->
<!-- </form> -->
<!-- </div> -->

<!-- </fieldset> -->
<!-- </form> -->

<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
