
<!-- <div class="wrapper wrapper-content animated fadeInRight" ng-controller="tController"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-12 form-box"> -->
<!-- <form  role="form" class="mortuary-form" action="javascript:void(0);"> -->
<!-- <fieldset> -->
<!-- <div class="form-top"> -->
<!-- <div class="form-top-left"> -->
<!-- <h4><span></span>TRANSACTION MODULE</h4> -->

<!-- </div> -->
<!-- </div> -->
<!-- <div class="form-bottom"> -->
<!-- <div class="row hidden-print"> -->
<!-- <ul class="nav nav-tabs nav-justified" > -->
<!-- <li ng-class="{active: isSet(1) }"> -->
<!-- <a href ng-click="setTab(1)"><span>T RECORD - PLEASE SELECT TYPE OF TRANSACTION YOU WANT TO STORE/SAVE</span></a></li> -->
<!-- </ul> -->
<!-- <br> -->
<!-- <br> -->
<!-- </div> -->
<!-- <div class="row"> -->

<!-- <div ng-show="isSet(1)"> -->
<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Chagua kwa Makini Kampuni ya Muamala:</label> -->
	<!-- <select ng-model="item.item_type.id" class="form-control" data-toggle="tooltip" title="Select Equipment Status"> -->
	<!-- <option disabled selected value>Select Item Type</option> -->
	<!-- <option ng-value="item_type.id" ng-repeat="item_type in item_types">{{item_type.item_type}}</option> -->
	<!-- </select> -->

<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Chagua kwa Makini Aina ya Muamala:</label> -->
<!-- <select name="transactiontype" class="form-control" ng-model="transaction.transactiontype"> -->
  <!-- <option value="">Select Carefully Transaction Type</option> -->
  <!-- <option value="Kutoa Fedha">Kutoa Fedha</option> -->
  <!-- <option value="Kuweka Fedha">Kuweka Fedha</option> -->
<!-- </select> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
 <!-- <label>Weka Kiasi cha Fedha:</label> -->
 <!-- <input type="text" ng-model="transaction.amount" class="form-control" placeholder="Enter Amount Carefully" id="fname"> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
 <!-- <label>Weka Kumbukumbu No:</label> -->
 <!-- <input type="text" ng-model="transaction.number" class="form-control" placeholder="Enter Transaction Number Carefully:" id="fname"> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Hifadhi Kumbukumbu:</label><br> -->
<!-- <button type="submit" class="btn btn-success" ng-click="save_transaction(transaction)">SAVE</button> -->
<!-- </div> -->

<!-- <hr> -->
<!-- </div> -->
<!-- </fieldset> -->
<!-- </form> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <div class="wrapper wrapper-content animated fadeInRight" ng-controller="tController"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-12 form-box"> -->
<!-- <form  role="form" class="mortuary-form" action="javascript:void(0);"> -->
<!-- <fieldset> -->
<!-- <div class="form-top"> -->
<!-- <div class="form-top-left"> -->
<!-- <h4><span></span>YOUR CURRENT TRANSACTION BALANCE</h4> -->

<!-- </div> -->
<!-- </div> -->

<!-- <div class="row"> -->

<!-- <div ng-show="isSet(1)"> -->
<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Mpesa Float Balance:</label> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Tigopesa Float Balance:</label> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Airtelmoney Float Balance:</label> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Halopesa Float Balance:</label> -->
<!-- </div> -->

<!-- <div class="form-group col-md-4 col-sm-4"> -->
<!-- <label>Ttclpesa Float Balance:</label> -->
<!-- </div> -->

<!-- <hr> -->
<!-- </div> -->
<!-- </fieldset> -->
<!-- </form> -->
<!-- </div> -->

<!-- </fieldset> -->
<!-- </form> -->

<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
