
    <div id="wrapper"  ng-controller='rolesController'>
	<!--  include menu -->
<ng-include src="'public/views/menu.html'"></ng-include>

        <div id="page-wrapper" class="gray-bg">
<!-- include navs -->
<ng-include src="'public/views/navs.html'"></ng-include>





	<!--  include search box -->
<ng-include src="'public/views/searchBox.html'"></ng-include>







            <div class="row">

					<!--  include registration form -->
					
					<!---menu warning-->
					<div ng-if='menu.length >0'>
<ng-include src="'public/views/modules/admin/userImage.html'"></ng-include>

</div>
<div ng-if='menu.length < 1'>
<p>
<button class='btn btn-danger align-center'>You are not authorized to access this Options</button>
 
</div>
<!---menu warning-->
                           </div>

						   

			<!--  include footer -->
<ng-include src="'public/views/footer.html'"></ng-include>       

        </div>
        </div>
