<nav class="navbar-default navbar-static-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav" id="side-menu">
<li class="nav-header">
<div class="dropdown profile-element"> <span>
<img alt="image" class="img-circle" src="public/img/arm.png" width="90px" height="90px" />
</span>
<a data-toggle="" class="" href="#">
<span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">OMEK DISPENSARY
</strong>
</span>  </span> </a>

</div>
<div class="logo-element">
<img alt="image" class="img-circle" src="public/img/arm.png" width="50px" height="50px"/>
</div>
</li>

<li ng-repeat="menu in menu">
<a href="#!/{{menu.state_p}}"><i class="{{menu.icons}}"></i> <span class="nav-label">
{{menu.descr}}</span> </a>

</li>
</ul>
</div>
</nav>