
<!-- <div class="wrapper wrapper-content animated fadeInRight" ng-controller="ItemSalesController"> -->
<!-- <div class="row"> -->
<!-- <div class="col-md-12 form-box"> -->
<!-- <form  role="form" class="mortuary-form" action="javascript:void(0);"> -->
<!-- <fieldset> -->
<!-- <div class="form-top"> -->
<!-- <div class="form-top-left"> -->
<!-- <h4><span></span>ITEM SALES MODULE</h4> -->

<!-- </div> -->
<!-- </div> -->
<!-- <div class="form-bottom"> -->
<!-- <div class="row hidden-print"> -->
<!-- <ul class="nav nav-tabs nav-justified" > -->
<!-- <li ng-class="{active: isSet(1) }"> -->
<!-- <a href ng-click="setTab(1)"><span>ITEM SALES</span></a></li> -->
<!-- <li ng-class="{active: isSet(2) }"  ng-click="getitemregistered()"> -->
<!-- <a href ng-click="setTab(2)">ITEM SALES REPORT</a></li> -->
<!-- </ul> -->
<!-- <br> -->
<!-- <br> -->
<!-- </div> -->
<!-- <div class="row"> -->

<!-- <div ng-show="isSet(1)"> -->
<!-- <div class="col-md-12"> -->
<!-- <div class=""> -->
<!-- <div class="input-group"> -->
<!-- <input data-toggle="tooltip" class="form-control input-lg" type="text" placeholder="SEARCH ITEM THAT YOU WANT TO SALE" ng-model="selecteditem" uib-typeahead="itemtosale as itemtosale.item_name for itemtosale in showItem($viewValue) | filter:$viewValue | limitTo:3"> -->
<!-- <div class="input-group-btn"> -->
<!-- <td><button class="btn btn-lg btn-success" ng-click="selecteditemlist(selecteditem)">add</button> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- </div> -->
<!-- </div> -->

<!-- <hr><br><br> -->

<!-- <div class="col-md-12" ng-if="selecteditemtosale.length >0"> -->
<!-- <div class="cardStyle"> -->

<!-- <table class="table table-bordered table-striped"> -->

<!-- <thead> -->
<!-- <tr> -->
<!-- <td class="text-navy">ITEM ID</td> -->
<!-- <td class="text-navy">ITEM TYPE</td> -->
<!-- <td class="text-navy">ITEM UNIT</td> -->
<!-- <td class="text-navy">ITEM NAME</td> -->
<!-- <td class="text-navy">STOCK</td> -->
<!-- <td class="text-navy">BUYING PRICE</td> -->
<!-- <td class="text-navy">SELLING PRICE</td> -->
<!-- <td class="text-navy">SELLING QUANTITY</td> -->
<!-- <td class="text-navy">Total Payment to be paid</td> -->
<!-- <td class="text-navy">remain stock</td> -->
<!-- <td class="text-navy">MANAGE</td> -->
<!-- </tr> -->
<!-- </thead> -->

<!-- <tbody> -->
<!-- <tr ng-repeat="selecteditemtosales in selecteditemtosale"> -->
<!-- <td><b>{{selecteditemtosales.item_id}}</b></td> -->

<!-- <td><b>{{selecteditemtosales.itemtyp}}</b></td> -->

<!-- <td><b>{{selecteditemtosales.unit}}</b></td> -->

<!-- <td><b>{{selecteditemtosales.item_name}}</b></td> -->

<!-- <td><b>{{selecteditemtosales.quantity}}</b></td> -->

<!-- <td><b>{{selecteditemtosales.buying_price}}</b></td> -->

<!-- <td><b>{{selecteditemtosales.selling_price}}</b></td> -->


<!-- <td> -->
<!-- <input type="number" placeholder="Enter Quantity"  min="0"  ng-blur="salequantity(selecteditemtosales)" ng-model="selecteditemtosales.amount"> -->
<!-- </td> -->

<!-- <td> -->
<!-- <input type="number" placeholder="Enter Quantity"  min="0" ng-keyup="salingamount(selecteditemtosale)" ng-model="selecteditemtosales.kiasichakuuza"> -->
<!-- </td> -->

<!-- <td> -->
<!-- <h3 ng-model="totalamounttopay" ng-value="4" ng-if="selecteditemtosales.amount < selecteditemtosales.quantity" style="color:maroon" role="info" ng-value="">{{selecteditemtosales.amount * selecteditemtosales.selling_price}}</h3> -->

<!-- </td> -->

<!-- <td> -->
<!-- <h3 ng-model="remainstock" ng-if="selecteditemtosales.amount < selecteditemtosales.quantity" style="color:maroon" role="info">{{selecteditemtosales.quantity - selecteditemtosales.amount}}</h3> -->
<!-- <h3 ng-repeat="bakii in arrayiliyobaki track by $index">{{bakii}}</h3> -->
<!-- </td> -->

<!-- <td><button>Remove</button> -->
<!-- </td> -->

<!-- </tr> -->
<!-- <tr> -->
<!-- <td colspan="8" align="center"><b>TOTAL AMOUNT THAT YOU NEED TO COLLECT FROM A CUSTOMER IS</b></td> -->
<!-- <td align="center">{{totalpayment}}{{discount}}{{totals}}</td> -->
<!-- <td colspan="2" align="center" ng-click="saveitemsold(selecteditemtosale)"><button>Save Sales</button></td> -->
<!-- </tr> -->
<!-- </tbody> -->

<!-- </table> -->

<!-- </div> -->
<!-- </div> -->

<!-- <div ng-show="isSet(2)"> -->
<!-- <div class="col-md-12"> -->
<!-- <div class="panel panel-primary"> -->
    <!-- <table class="table table-bordered table-striped"> -->
        <!-- <b>REGISTERED ITEMS:</b> -->

        <!-- <thead> -->
        <!-- <tr> -->
            <!-- <td class="text-navy">No#</td> -->
            <!-- <td class="text-navy">Item Name</td> -->
            <!-- <td class="text-navy">Item Category</td> -->
            <!-- <td class="text-navy">Unit</td> -->
            <!-- <td class="text-navy">Department</td> -->
            <!-- <td class="text-navy">Quantity</td> -->
            <!-- <td class="text-navy">Buying Price</td> -->
            <!-- <td class="text-navy">Selling Price</td> -->
            <!-- <td class="text-navy">Reorder Level</td> -->
            <!-- <td class="text-navy">Facility</td> -->
            <!-- <td class="text-navy">Edit</td> -->
            <!-- <td  ng-if="!e">X</td> -->
        <!-- </tr> -->
        <!-- </thead> -->

        <!-- <tbody> -->
        <!-- <tr ng-repeat="itemregister in itemregistered | filter:search track by $index"> -->

            <!-- <td><b ng-if="!e">{{itemregister.item_id}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input type="text" class="form-control" placeholder="Enter Equipment Status" ng-model="equipment.equipment_name"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->

            <!-- <td><b ng-if="!e">{{itemregister.item_name}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input type="text" class="form-control" placeholder="Enter Equipment Status" ng-model="equipment.reagents"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->

            <!-- <td><b ng-if="!e">{{itemregister.itemtyp}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input type="text" class="form-control" placeholder="Enter Equipment Status" ng-model="equipment.minimum_limit"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->
            <!-- <td><b ng-if="!e">{{itemregister.unit}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input type="text" class="form-control" placeholder="Enter Equipment Status" ng-model="equipment.minimum_limit"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->

            <!-- <td><b ng-if="!e">{{itemregister.department_name}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input type="text" class="form-control" placeholder="Enter Equipment Status" ng-model="equipment.maximum_limit"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->
            <!-- <td><b ng-if="!e">{{itemregister.quantity}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input data-toggle="tooltip" class="form-control input-lg" type="text" placeholder="Search Facility" ng-model="equipment.facilitys" uib-typeahead="facilitys as facilitys.facility_name for facilitys in showFacility($viewValue) | filter:$viewValue | limitTo:3"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->

            <!-- <td><b ng-if="!e">{{itemregister.buying_price}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input data-toggle="tooltip" class="form-control input-lg" type="text" placeholder="Search Item Unit" ng-model="equipment.item_unit" uib-typeahead="item_units as item_units.unit for item_units in showItemtest($viewValue) | filter:$viewValue | limitTo:3"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->

            <!-- <td><b ng-if="!e">{{itemregister.selling_price}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input data-toggle="tooltip" class="form-control input-lg" type="text" placeholder="Search Equipment Status" ng-model="equipment.eqstatus" uib-typeahead="eqstatus as eqstatus.status_name for eqstatus in showEqstatus($viewValue) | filter:$viewValue | limitTo:3"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->

            <!-- <td><b ng-if="!e">{{itemregister.reorder_level}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input data-toggle="tooltip" class="form-control input-lg" type="text" placeholder="Search Facility" ng-model="equipment.facilitys" uib-typeahead="facilitys as facilitys.facility_name for facilitys in showFacility($viewValue) | filter:$viewValue | limitTo:3"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->
            <!-- <td><b ng-if="!e">{{itemregister.facility_name}}</b> -->
                <!-- <h3 ng-if="e"> -->
                    <!-- <div class="form-group"> -->
                        <!-- <input data-toggle="tooltip" class="form-control input-lg" type="text" placeholder="Search Facility" ng-model="equipment.facilitys" uib-typeahead="facilitys as facilitys.facility_name for facilitys in showFacility($viewValue) | filter:$viewValue | limitTo:3"> -->
                    <!-- </div> -->
                <!-- </h3> -->
            <!-- </td> -->

            <!-- <td ng-if="e"> -->
                <!-- <h3 > -->
                    <!-- <div class="form-group"> -->
                        <!-- <button class="btn btn-success" data-toggle="tooltip" title="Click to Update This Record" ng-click="equipement_update(equipment)">Update</button> -->
                    <!-- </div> -->
                <!-- </h3> -->
                <!-- <!--<button class="btn btn-default" ng-click="edit(region.id)">Edit</button>--> -->
            <!-- </td> -->

            <!-- <td> -->
                <!-- <input type="checkbox" class="btn btn-info" ng-model="e">Edit -->
            <!-- </td> -->
            <!-- <td  ng-if="!e"> -->
                <!-- <button class="alert-danger" data-toggle="tooltip" title="Click to Delete from List" ng-click="equipement_delete(equipment)">Delete</button> -->
            <!-- </td> -->
            <!-- <!--<td>{{ region.tastiness }}</td>--> -->
        <!-- </tr> -->
        <!-- </tbody> -->

    <!-- </table> -->


<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- </fieldset> -->
<!-- </form> -->

<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
