
<!-- <div id="wrapper"  ng-controller='rolesController'> -->
    <!-- <!--  include menu --> -->
    <!-- <ng-include src="'public/views/menu.html'"></ng-include> -->

    <!-- <div id="page-wrapper" class="gray-bg"> -->
        <!-- <!-- include navs --> -->
        <!-- <ng-include src="'public/views/navs.html'"></ng-include> -->

        <!-- <!--  include search box --> -->


        <!-- <div class="row"> -->

            <!-- <!--  include registration form --> -->
            <!-- <div ng-if='menu.length >0'> -->
                <!-- <ng-include src="'public/views/dukani/item/item_register.html'"></ng-include> -->
            <!-- </div> -->
            <!-- <div ng-if='menu.length < 1'> -->
                <!-- <button class='btn btn-danger '>The MENU is Temporarily Unavailable</button> -->



            <!-- </div> -->

        <!-- </div> -->



        <!-- <!--  include footer --> -->
        <!-- <ng-include src="'public/views/footer.html'"></ng-include> -->

    <!-- </div> -->
<!-- </div> -->
