<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12 form-box">
      <form  role="form" class="registration-form" action="javascript:void(0);">
        <fieldset>
          <div class="form-top">
            <div class="form-top-left">
              <h3><span><i class="fa fa-plus" aria-hidden="true"></i></span> PERMISSION ROLES</h3>
  
            </div>
          </div>
          <div class="form-bottom">
            <div class="row">
              <div class="form-group col-md-12 col-sm-4">
                <label>CHOOSE ROLE TYPE*</label>
         <input type="text" ng-model="permRoles.role" uib-typeahead="role as role.title for role in roles | filter:$viewValue | limitTo:8" class="form-control" placeholder="SEARCH THE TYPE OF ROLE">

  </div>		  
            </div>       

           <div class="row">
             
			  <table class="table table-striped table-condensed table-hover">
		  
			  
                <thead>

                    <tr>
                        <th class="id" custom-sort order="'id'" sort="sort">Id&nbsp;</th>
                        <th class="name" custom-sort order="'name'" sort="sort">State Name&nbsp;</th>
                        <th class="description" custom-sort order="'description'" sort="sort">Description&nbsp;</th>
                        <th class="field3" custom-sort order="'field3'" sort="sort">Check&nbsp;</th>
                                 </tr>
                </thead>
              
                             <tbody>
							 
										 
							 
                    <tr ng-repeat="perm  in perms">
                        <td>{{perm.id}}</td>
                        <td>{{perm.module}}</td>
                        <td>{{perm.title}}</td>
                        <td>
						<input type="checkbox" ng-click="checkTest(perm,permRoles)">
				<!--<input type="checkbox" ng-value=perm.id checklist-model="permRoles.selectedId" ng-model="permRoles.perm" ng-true-value="'YES'" ng-false-value="'NO'">--></td>
                        
                    </tr>
                </tbody>
            </table>
			 
			 
			 
              
            </div>      
			
     <!--      
 <button type="submit" class="btn btn-success" ng-click="savePermRoles(permRoles)">SAVE</button>
 
 --->
          </div>
        </fieldset>
      </form>
    </div>
	
	
	
	
	
	
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.registration-form fieldset:first-child').fadeIn('slow');

        $('.registration-form input[type="text"]').on('focus', function () {
            $(this).removeClass('input-error');
        });

        // next step
        $('.registration-form .btn-next').on('click', function () {
            var parent_fieldset = $(this).parents('fieldset');
            var next_step = true;

            parent_fieldset.find('input[type="text"],input[type="email"]').each(function () {
                if ($(this).val() == "") {
                    $(this).addClass('input-error');
                    next_step = false;
                } else {
                    $(this).removeClass('input-error');
                }
            });

            if (next_step) {
                parent_fieldset.fadeOut(400, function () {
                    $(this).next().fadeIn();
                });
            }

        });

        // previous step
        $('.registration-form .btn-previous').on('click', function () {
            $(this).parents('fieldset').fadeOut(400, function () {
                $(this).prev().fadeIn();
            });
        });

        // submit
        $('.registration-form').on('submit', function (e) {

            $(this).find('input[type="text"],input[type="email"]').each(function () {
                if ($(this).val() == "") {
                    e.preventDefault();
                    $(this).addClass('input-error');
                } else {
                    $(this).removeClass('input-error');
                }
            });

        });


    });
</script>


  





